@media (max-width: 1000px) {
  .category-section {
    flex-direction: column;
  }

  .category-section-image {
    min-width: 100%;
    max-width: 100%;
  }

  .category-section-description {
    max-height: none;
  }
}